<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="images/weather.png">
    <link rel="stylesheet" href="css/styles.css">

    <script src="scripts/notes.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    {{>header}}


    <div class="container" align="center">
        <form>
            <label for="property">Search by property:</label>

            <select name="property" id="property">
                <option value="title">Title</option>
                <option value="description">Description</option>
                <option value="owner">Owner</option>
            </select>
            <br>
            <br>
            <input placeholder="Enter text to search">

            <button>Search</button>
        </form>

        <p id="error"></p>
        <p id="result"></p>

        <div id="notes" class="container">


        </div>
    </div>


    <div class="footer">
        {{>footer}}
    </div>
</body>

</html>