<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/allNotes">
                All Notes
            </a>
            <a class="navbar-brand" href="/addNote">
                Add Note
            </a>
            <a class="navbar-brand" href="/allNotes?completed=true">
                Completed
            </a>
            <a class="navbar-brand" href="/allNotes?completed=false">
                UnCompleted
            </a>
            <a class="navbar-brand" href="/search">
                Search
            </a>
        </div>
    </nav>
</header>

<h1 align="center" style="padding-top: 30px">{{title}}</h1>